*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    margin-top: 30px;
    margin-bottom: 20px ;
}

.title a{
    text-decoration: none;
    color: #FFFFFF;
    text-decoration: underline;
    transition: all 0.3s;
}

.title a:hover{
    color: #79BC43;
}

.title h1{
    text-align: center;
    text-shadow: 1px 3px 4px ;
    font-size: 45px;
    letter-spacing: 3px;
}
